# Python
__pycache__/
*.py[cod]
*.egg-info

# Virtual environments
.env
.venv
venv/

# VS Code
.vscode/

# PyTorch checkpoints
checkpoints/

# Outputs
outputs/

# TensorBoard
runs/

# Dataset
datasets/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
pointnet.pytorch/